<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page_name }}</title>
	<link rel="stylesheet" href="{{ url_for("static", filename="css/main.css") }}">
	<script type="text/javascript">
		function loc_href(href){
			location.href=href
		}
	</script>
</head>
<body>
	<div id="app">
		<div id="container">
			{% if menu_template %}
			<nav id="menu">
				<ul>
					{% for element in menu_template %}
					<li><a
						{% if element == active %}
							class="active"
						{% endif %}
						 href="{{ url_for(element.replace(' ', '_')) }}">{{ element | title }}</a></li>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}
			<div id="content">
				<div id="page">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>